/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
/* ============= HOME =============*/
/* HOME PARTE 1:  Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF;
    position: relative;
}

.ladoEsquerdoHeader{
    margin-right: 90px;
}

/* Decoração de fundo da logo */
.decoracaoLogo {
    position: absolute;
    top: 5px; /* Ajuste para posicionar a decoração */
    left: -10px;
    width: 250px;
    height: auto;
    z-index: 0;
    
}

.decoracaoLogo img {
    width: 300%;
    height: auto;
}


.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3; 
}

.logo-image {
    width: 60px; 
    margin-left: -270px;
    height:120px;
    width:120px;
    border-radius:500px;
    left:193px;
    top:-16px;
    position:absolute;
}

.logo-text {
    color: #ffffff; 
    font-weight: bold; 
    text-align:right;
    margin-left: -60px;
    vertical-align:text-middle;
    font-size:36px;
    font-family:Raleway;
    line-height:48px;
    border-style:hidden;
    outline:none;
    width:324px;
}

/*NAV DA HOME */
.nav {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: flex-start; /* Alinha os elementos à esquerda */
    margin-left: 150px;
}
.nav a {
    color: #00856F;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

.nav .signup {
    border: 1px solid #00856F;
    padding: 5px 10 px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px; /* Adicione "px" para definir a unidade do tamanho da fonte */
    color: #00856F;
    transition: background-color 0.3s, color 0.3s;
    width: 125px; /* Define uma largura específica */
    height: 35px; /* Define uma altura específica */
    display: inline-block; /* Garante que o botão se comporte como um bloco inline */
    white-space: nowrap; /* Impede a quebra de linha dentro do botão */
    text-align: center; /* Centraliza o texto */
}

.nav .signup:hover {
    background-color: #00856F;
    color: #ffffff;
}

/* PARTE 2 HOME: "FICA NO CENTRO DA PÁGINA" */
.hero-image {
    height: 650px;
    width: 600px;
    border-radius:378px;
    left:350px;
    top:30px;
    position:absolute;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #ffffff;
    padding: 70px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh; /* Preenche a altura da tela */
}

.hero-content h1 {
    font-size: 2rem; /* Ajuste conforme necessário */
    line-height: 1.5;
    color: #00695c; /* Altere a cor conforme desejado */
    margin-right: 600px;
}

.botao {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00796b; /* Ajuste conforme desejado */
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cta-button:hover {
    background-color: #399b8f8c; 
}

.cta-button:active {
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.hero-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* ============= NOSSOS SERVIÇOS =============*/
.servicos-text {
    text-align: center; 
    padding: 20px 0;
    font-family:Raleway;
}

.client-text-one {
    color:#2bb79d;
    text-align:center;
    vertical-align:text-top;
    font-size: 2.5rem;
    font-family:Raleway;
    margin: 0 auto;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:fit-content;
    }

.card {
    height: 423px;
    width: 368px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header {
    background-color: #00856f;
    height: 89px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header-icon {
    background-color: #ffffff;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-title {
    color: #ffffff;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.card-content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    color: #727272;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
}

.button-primary {
    background-color: #00856f;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    height: 47px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
}

.button-primary:hover {
    background-color: #016a62;
}

.servicos-section {
    width: 100vw;
    margin-left: calc(50% - 50vw); /* Centraliza a largura total */
    background-color: #e9ecef; /* cor para diferenciar a seção */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef; /* cor para diferenciar a seção */
    padding: 50px 0;
}

.servicos-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* para que os cards fiquem em linha em telas grandes e se ajustem em telas menores */
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* ============= SOBRE =============*/
.sobre {
    padding: 50px 20px;
    background-color: #ffffff;
}

.titulo-sobre {
    text-align: center;
    font-size: 2.5em;
    color: #00796b;
    font-weight: bold;
    font-family:Raleway;
    margin-bottom: 30px;
}

.titulo-destaque {
    color: #38b388;
}

.conteudo-sobre {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-sobre {
    width: 190px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: -600px;
    margin-top: -90px;
}
.imagem-ilustrativa {
    width: 500;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-left: -700px;
}

.texto-e-imagem {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.texto-sobre {
    font-family: Montserrat;
    max-width: 600px;
    text-align: left;
    line-height: 1.8;
    font-size: 1.1em;
    color: #000000;
    margin-left: 500px;
    font-size: 19px;
    margin-top: -550px;
    align-items: center;
    text-align: justify; /* Justifica o texto para uma apresentação mais formal */
}

.lista-oferecemos {
    list-style-type: disc;
    padding-left: 20px;
}

.lista-oferecemos li {
    margin-bottom: 10px;
}


/* RODAPÉ */
.rodape {
  background-color:#00856F;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
}

.text-footer{
    align-items: center;
    text-align: justify; /* Justifica o texto para uma apresentação mais formal */
    margin-left: -90px;
}
.header-footer{
    margin-left: 90px;
}


.copyright-text {
  margin-left: 30px;
}

.card-content-footer{
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*============= PÁGINA AGENDAMENTO ===========*/
/* Estilo geral do layout */
.container {
    display: flex;
    height: 100vh;
}

/* Estilo da sidebar */
.sidebar {
    width: 250px;
    background-color: #f4f4f4; /* Ajuste para uma cor de fundo suave */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo dos links */
.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333; /* Cor do texto */
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #00856F; /* Cor de destaque no hover */
    color: #fff;
}

.sidebar a.active {
    background-color: #00856F;
    color: #fff;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 18px;
    color: #00856F; /* Cor dos ícones */
}

/* Estilo do conteúdo principal */
.main-content {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Estilo da seção "Agende um atendimento" */
.centroPagina {
    flex: 1;
}

h2 {
    font-size: 24px;
    color: #00856F;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-slot {
    padding: 10px 20px;
    background-color: #00856F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.time-slot.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Estilo da seção "Sua agenda" */
.agenda {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.agenda h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.appointment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.appointment p {
    margin: 5px 0;
}

.appointment p strong {
    color: #2c3e50;
}

/* Botão de agendamento */
button {
    background-color: #fdfdfd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00705f;
}



/*============= PÁGINA DE PERFIL ===========*/

/*============= PÁGINA CADASTRO ===========*/

.container-cadastro {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 90vh;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-section-cadastro {
    background-color: #eafaf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.left-section-cadastro h1 {
    color: #3B6555;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.left-section-cadastro img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.right-section-cadastro {
    background-color: #2a9d8f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container-cadastro {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container-cadastro img {
    display: block;
    margin: 0 auto 10px;
    max-width: 80px;
}

.form-container-cadastro h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #3B6555;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 100%;
    padding: 12px;
    background-color: #2a9d8f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    text-align: center;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #2a9d8f;
    border: 2px solid #2a9d8f;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.form-group button:hover {
    background-color: #2a9d8f;
    color: #ffffff;
}

.form-group.terms label {
    font-size: 0.8rem;
    color: #333;
}

.form-group.terms a {
    color: #2a9d8f;
    text-decoration: none;
}

.form-group.terms a:hover {
    text-decoration: underline;
}

.login-link {
    text-align: right;
    font-size: 0.8rem;
    margin-top: 10px;
}

.login-link a {
    color: #2a9d8f;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}



/*============= PÁGINA PALESTRA E WORKSHOPS ===========*/




/*============= PÁGINA BLOG E NOTÍCIAS ===========*/
html.blog-page, body.blog-page {
    overflow-y: auto; /* Permite a rolagem vertical */
    height: auto; /* Altura se ajusta ao conteúdo */
    min-height: 100%; /* Garante que sempre ocupe a altura total */
}
/* Header */
.header-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF;
    position: relative;
}

.ladoEsquerdoHeader-blog {
    margin-right: 90px;
}

/* Decoração de fundo da logo */
.decoracaoLogo-blog {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 250px;
    height: auto;
    z-index: 0;
}

.decoracaoLogo-blog img {
    width: 300%;
    height: auto;
}

.logo-container-blog {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3; 
}

.logo-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 115px;
    top: -40px;
}

.logo-text-blog {
    color: #ffffff; 
    font-weight: bold; 
    text-align: right;
    margin-left: -139px;
    margin-top: -30px; /* Ajuste para cima */
    vertical-align: middle;
    font-size: 36px;
    font-family: Raleway;
    line-height: 48px;
    border-style: hidden;
    outline: none;
    width: 324px;
}
/* Navegação */
.nav-blog {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: flex-start;
    margin-left: 150px;
}

.nav-blog a {
    color: #00856F;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-blog a:hover {
    text-decoration: underline;
}

.nav-blog .signup {
    border: 1px solid #00856F;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #00856F;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.nav-blog .signup:hover {
    background-color: #00856F;
    color: #FFFFFF;
}

/* Container geral da seção */
.container-blog {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
    top: 20px;
}
/* Botão "Mais Notícias" */
#botao-mais-noticias {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00856F; /* Cor principal do tema */
    color: #FFFFFF; /* Texto branco para contraste */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.3s;
}

#botao-mais-noticias:hover {
    background-color: #00796B; /* Tom mais escuro no hover */
}

#botao-mais-noticias:active {
    transform: translateY(2px); /* Leve efeito de "pressionado" */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Reduz a sombra no clique */
}

.botao-blog{
    bottom: 100px;
}

/* Conteúdo principal (lado esquerdo) */
.main-content {
    flex: 6;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: -110px;
}

.main-content {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: -30px;
}
.imagem-noticia{
    height: 500px;
    width: 500px;
}
.main-content h2 {
    font-size: 1.8rem;
    color: #00856F;
    margin-bottom: 10px;
    line-height: 1.4;
}

.main-content p {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 10px;
}

.main-content .more-news {
    display: inline-block;
    margin-top: 20px;
    background-color: #00856F;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.main-content .more-news:hover {
    background-color: #00664C;
}

.container-blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 10px;
}

.main-content {
    flex: 3; /* Parte principal maior */
}

.sidebar-blog {

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas com tamanhos iguais */
    gap: 20px; /* Espaço entre os itens */

    
}

.sidebar-blog .article {
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 5px;
}

.sidebar-blog .article img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.sidebar-blog .article h3 {
    font-size: 1rem;
    color: #00856F;
    margin-bottom: 5px;
    line-height: 1.3;
}

.sidebar-blog .article p {
    font-size: 0.9rem;
    color: #666666;
}


/* ============= PÁGINA LOGIN =========== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede o aparecimento de rolagem */
}

.container-cadastro {
    display: flex;
    width: 100%;
    height: 100vh; /* Preenche a altura total da tela */
}

/* Left section styling */
.left-section {
    flex: 1;
    background-color: #eafaf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 100%;
}
.left-section-cadastro {
    background-color: #eafaf1;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}
.left-section h1 {
    color: #00856F;
    margin-bottom: 20px;
    text-align:center;
    vertical-align:text-top;
    font-size:36px;
    font-family:Raleway;
    line-height:48px;
    border-style:hidden;
    outline:none;
    width:553px;
    margin-top: 60px;
}

.left-section img {
    max-width: 100%;
    height: auto;
    width:907px;
    border-radius:79px;
}

.left-side, .right-side {
    flex: 1; /* As seções esquerda e direita ocupam espaço igual */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.right-section {
    flex: 1;
    background-image: url('assets/img/login/Background.png'); /* Add background image */
    background-size: cover; /* Make the image cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to show background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form input[type="checkbox"] {
    margin-right: 5px;
}

.login-form label {
    margin-bottom: 10px;
    display: block;
    font-size: 0.9rem;
    color: #333;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3e9663;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login-form button:hover {
    background-color: #21867a;
}

.login-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2a9d8f;
    text-decoration: none;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .container-login {
        flex-direction: column;
        height: auto;
    }

    .left-side, .right-section {
        width: 100%;
        padding: 10px;
    }

    .login-form {
        padding: 20px;
    }

    .left-side h1 {
        font-size: 28px;
        line-height: 36px;
        width: 100%;
    }
}

/*=====uma notícia de exemplo ==== */
